/*================================
        Buttons (Generic)
================================= */

/* Large devices (Desktop & Laptops) */

@media (min-width:1180px) and (max-width:1344px) {
   /* ok */
    .navbar-nav > li > a {
        font-size: 13px;   
        letter-spacing: 0px;
        font-weight:600;
}
    .alex-navbar-grey {
        padding: 3px, 0;
}
    .navbar {
        padding: 5px 0;
        
}
    
}

/* Medium devices (Landscape Tablets & Medium desktops, 992px and up) */
@media (min-width:992px) and (max-width: 120px)  {
   
}


/* Small devices (Portrait Tablets, tablets & Small Desktops 768px and up) */
@media (min-width:768px) and (max-width:991px) {

}

/* Extra small devices Phones (<768px) */

@media (max-width:767px) {

}

/* Extra small devices Phones (<768px) */

@media (max-width:480px) {

}

/* Extra small devices Phones (<768px) */

@media (max-width:320px) {

}